.container {
    height: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fcf5f5;
    align-items: center;
    justify-content: center;
}

.newsletter-title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    margin-bottom: 15px;
}

.newsletter-label {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.newsletter-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 40px;
}

.newsletter-input {
    flex: 8;
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    margin: 0 0.5rem;
    outline: none;
    border: 1px gray solid;
    border-radius: 10px;
}



.newsletter-info button {
    flex: 1;
    padding: 5px 0;
    border: none;
    background-color: slategray;
    color: black;
    border-radius: 10px;
}